/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Jun, 2017, 7:39:13 PM
    Author     : haushila
*/
#banner_image
{
padding-top: 75px;
min-height: 100%;
text-align: center;
color: #f8f8f8;
background: url("./img/1.jpg") no-repeat center center;
background-size: cover;
}
.banner_content{
    position: relative;

//margin-left: 30%;
padding-top: 6%;
padding-bottom: 6%;
margin-top: 12%;
margin-bottom: 16%;
background-color: rgba(0, 0, 0, 0.7);
max-width: 660px;
}
footer
{
    /*padding: 10px 0;*/
    background-color: #101010;
    color: #9d9d9d;
    position: relative;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    padding-top: 30px;
}
.bar{width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;

}
.container{
	min-height: 100%;
}
.para
{
	text-align: center;
}

